body {
    font-family: Arial, sans-serif;
  }
  
  .converter {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  
  input, select, button {
    margin: 20px;
    padding: 10px;
  }
  
  #result {
    margin-top: 20px;
    color: blue;
  }
h1{
    text-align: center;
    padding-top: 100px;
    color: red;
}  